<%- model_class = @location.class -%>
<div class="page-header">
<h1><%= @location.address%></h1>
</div>

<dl class="dl-horizontal">

  
  
  <dt><strong>Precio $</strong></dt>
  <dd><%= @location.precio %></dd>

  <dt><strong>Internet:</strong></dt>
  <dd>
  <% if @location.internet%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
  <dt><strong>Cocina:</strong></dt>
  <dd>
  <% if @location.cocina%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
  <dt><strong>Tvcable:</strong></dt>
  <dd>
  <% if @location.tvcable%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
  <dt><strong>Baño privado:</strong></dt>
  <dd>
  <% if @location.banioprivado%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
  <dt><strong>Amoblado:</strong></dt>
  <dd>
  <% if @location.amueblada%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
  
  <dt><strong>Portero:</strong></dt>
  <dd>
  <% if @location.portero%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
  
  <dt><strong>Estacionamiento:</strong></dt>
  <dd>
  <% if @location.estacionamiento%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
  <dt><strong>Balcón/patio:</strong></dt>
  <dd>
  <% if @location.balconpatio%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
  <dt><strong>Gimnasio:</strong></dt>
  <dd>
  <% if @location.gimnasio%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
  <dt><strong>Estacionamiento:</strong></dt>
  <dd>
  <% if @location.estacionamiento%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
  <dt><strong>Ascensor:</strong></dt>
  <dd>
  <% if @location.ascensor%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
    <dt><strong>Teléfono:</strong></dt>
  <dd>
  <% if @location.telefono%>
  	Si
  <% else %>	
  	No
  <% end %>	
  </dd>
  
   <dt><strong>Detalle:</strong></dt>
  <dd>
  <% if @location.detalle!= ""%>
  	@location.detalle
  <% else %>	
  	No hay información
  <% end %>	
  </dd>

</dl>
<br/>
<dl class="">

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}", :class=> "img-polaroid" %>

</dl>

<div class="form-actions">
  <%= link_to "Volver",
              locations_path, :class => 'btn'  %>
 
</div>
